.UserPageNav {
    .content {
        p {
            margin-top: 10px;
            font-size: 1.3rem;
            font-weight: bold;
        }
    }

    .navigation {
        margin-top: 20px;
        font-size: 1rem;
        text-align: left;

        .navigation-wrapper {
            padding-left: 20px;
            list-style-type: none;
            color: black;

            div {
                margin: 10px 0;
                cursor: pointer;
            }

            .nav-info-wrapper,
            .nav-notifications-wrapper {
                &>div:first-child {
                    margin: 0;
                }

                &>div {
                    height: 0;
                    opacity: 0;
                    overflow: hidden;
                    padding-left: 25px;
                }

                .have-icon {
                    height: auto;
                    opacity: 1;
                    padding: 0;
                }

                .dropdown-open {
                    height: auto;
                    opacity: 1;
                }

                #smooth-element-profile,
                #smooth-element-notification {
                    margin: 0;

                    div:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .nav-target {
                &:hover {
                    color: rgb(62, 169, 252);
                    opacity: 0.7;
                }
            }

            .have-icon {
                display: flex;
                align-items: center;

                p {
                    padding-left: 5px;
                }
            }

            &>.nav-target:last-child {
                color: red;

                &:hover {
                    font-weight: bold;
                }
            }
        }

        .selected {
            color: var(--COLOR-pink-super-deep);
            font-weight: bold;
        }
    }
}