.GlobalLayout {
    .copy-right {
        width: 100vw;
        margin-left: calc(50% - 50vw);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-top: 3px solid #ffffff;
        background-color: var(--COLOR-pink);
        font-size: 1.1rem;
        font-weight: bold;
        color: #ffffff;
    }

    @media only screen and (max-width: 577px) {
        .container-wrapper {
            padding: 0 15px;
        }
    }

    @media only screen and (min-width: 578px) and (max-width: 766px) {
        .container-wrapper {
            padding: 0 30px;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .container-wrapper {
            padding: 0 60px;
        }
    }

    @media only screen and (min-width: 992px) and (max-width: 1468px) {
        .container-wrapper {
            padding: 0 100px;
        }
    }

    @media only screen and (min-width: 1469px) and (max-width: 1768px) {
        .container-wrapper {
            padding: 0 140px;
        }
    }
}