.UserHeader {
    .header-top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 5px 0;
        line-height: 0;
        background-color: var(--COLOR-pink);

        .container-wrapper {
            div {
                display: flex;
                justify-content: right;

                a {
                    margin-left: 20px;
                    font-weight: bold;
                    color: var(--COLOR-brown);

                    &:hover {
                        color: var(--COLOR-brown-hover);
                    }
                }
            }
        }
    }

    .header-content {
        display: flex;
        justify-content: center;

        .container-wrapper {
            height: 110px;

            .logo {
                display: flex;
                align-items: center;
                text-align: left;
                height: 100%;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }

            .auth-user {
                font-weight: bold;
                text-align: center;
                height: 60%;

                .info-wrapper {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    font-size: 1rem;
                    margin-left: 20px;

                    .avatar {
                        width: 50px;
                        border-radius: 50%;
                        margin: 0 10px;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .log-in,
                .username {
                    position: relative;

                    div {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 25px;
                    }

                    &:hover {
                        div {
                            border-color: var(--COLOR-pink);
                        }
                    }
                }

                .log-in,
                .sign-up,
                .username,
                .log-out {
                    font-size: 1rem;
                    height: 30%;

                    &:hover {
                        cursor: pointer;
                        color: var(--COLOR-pink);
                    }
                }

                .icon-cart {
                    position: relative;
                    width: 100%;
                    height: 48px;
                    width: 48px;

                    svg {
                        cursor: pointer;

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .number-cart {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 22px;
                        height: 22px;
                        border: 1px solid red;
                        border-radius: 50%;
                        background-color: #E56266;
                        text-align: center;
                        color: #FFFFFF;
                        font-size: 0.8rem;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    .cart-dropdown {
                        position: absolute;
                        top: 20px;
                        right: -40px;
                        width: 360px;
                        background: #ffffff;
                        border-radius: 5px;
                        overflow: hidden;
                        border: 1px solid #e2e4ec;
                        box-shadow: 1px 1px 10px rgba(0, 0, 0, .22);
                        z-index: -100;
                        opacity: 0;
                        visibility: hidden;
                        pointer-events: none;
                        transition: all .2s ease-in-out;

                        ul {
                            max-height: 244px;
                            overflow-y: auto;

                            .cart-item {
                                padding: 16px 12px;
                                border-bottom: 1px solid #e8e9ed;
                                list-style-type: none;
                                width: 100%;

                                .cart-item-content {
                                    padding-left: 12px;

                                    a,
                                    p {
                                        display: block;
                                        text-align: left;
                                        font-size: 15px;
                                    }

                                    .title {
                                        color: var(--COLOR-brown-deep);

                                        &:hover {
                                            color: var(--COLOR-pink-hover)
                                        }
                                    }

                                    .price {
                                        padding-top: 5px;
                                        color: rgba(255, 0, 0, 0.7);
                                    }
                                }

                                .cart-item-action {
                                    .quantity {
                                        font-size: 15px;
                                    }

                                    .btn-delete {
                                        &:hover {
                                            svg {
                                                color: var(--COLOR-pink-hover);
                                            }
                                        }
                                    }
                                }

                                img {
                                    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                                }
                            }

                            &::-webkit-scrollbar-track {
                                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                                border-radius: 10px;
                                background-color: #F5F5F5;
                            }

                            &::-webkit-scrollbar-thumb {
                                border-radius: 10px;
                                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                                background-color: #555;
                            }
                        }

                        .cart-bottom {
                            background-color: #f8f8fa;
                            padding: 12px 16px 16px;
                            border-top: 1px solid rgba(46, 48, 56, .1);
                            font-size: 1rem;

                            .btn-view-cart {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                min-width: 240px;
                                height: 40px;
                                margin-top: 10px;
                                background-color: var(--COLOR-pink);
                                color: white;
                                font-weight: bold;
                                font-size: 1rem;
                                outline: none;
                                border: none;

                                &:hover {
                                    background-color: var(--COLOR-pink-hover);
                                }
                            }
                        }
                    }

                    &:hover {
                        .cart-dropdown {
                            z-index: 150;
                            opacity: 1;
                            visibility: visible;
                            pointer-events: auto;
                            transition: all .2s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    .navigation {
        display: flex;
        justify-content: center;
        height: 40px;
        background-color: var(--COLOR-pink-deep);

        .container-wrapper {
            .menu-nav {
                align-items: center;
                justify-content: center;
                height: 100%;
                color: var(--COLOR-brown);
                font-size: 0.9rem;
                font-weight: bold;

                li {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    border: none;
                    outline: none;

                    &:hover {
                        color: var(--COLOR-brown-hover);
                    }

                    div {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        border: none;
                        outline: none;
                    }

                    span {
                        display: flex;
                        align-items: center;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.ant-menu-submenu {
    padding-top: 0;

    &>ul {
        background-color: white !important;

        &>li {
            &:hover {
                color: var(--COLOR-pink-super-deep);
                opacity: 0.7;
            }
        }
    }
}