.ManagePassword {
    .managepassword-content {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        &>div {
            &:first-child {
                margin: 20px;
                margin-bottom: 0;
                padding-bottom: 20px;
                border-bottom: 1px solid #ccc;
                text-align: left;
                font-size: 1rem;

                p:first-child {
                    font-weight: bold;
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }
            }

            &:last-child {
                display: flex;
                justify-content: center;
                margin: 40px 0;

                form {
                    margin: 0 50px;
                    width: 100%;
                    max-width: 1000px;
                    font-size: 1rem;

                    .ant-col:first-child {
                        display: flex;
                    }

                    label {
                        font-size: 1rem;
                    }

                    .password {
                        .ant-form-item-control-input-content>span {
                            height: 40px;
                            font-size: 1rem;
                        }
                    }

                    &>div:last-child {
                        display: flex;
                        justify-content: center;
                        margin: 0;

                        div {
                            .btn {
                                button {
                                    background-color: var(--COLOR-pink-super-deep);
                                    color: white;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    width: 150px;

                                    &:hover {
                                        outline: none;
                                        border: none;
                                        opacity: 0.7;
                                    }
                                }
                            }
                        }
                    }

                    .ant-form-item-explain-error {
                        text-align: left;
                        padding: 8px 0;
                    }
                }
            }
        }
    }
}