.ManagePassword {
    .container-wrapper {
        .managepassword-content {
            border: 1px solid #ccc;
            border-radius: 10px;

            &>div {
                &:first-child {
                    padding: 15px;
                    border-bottom: 1px solid #ccc;
                    text-align: left;
                    font-size: 1rem;

                    p:first-child {
                        font-weight: bold;
                        font-size: 1.2rem;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }
                }

                &:last-child {
                    display: flex;
                    justify-content: center;
                    margin: 40px 0;

                    form {
                        width: 100%;
                        max-width: 800px;
                        font-size: 1rem;

                        .ant-col:first-child {
                            display: flex;
                            padding-top: 5px;
                        }

                        .password {
                            .ant-form-item-control-input-content>span {
                                height: 40px;
                                font-size: 1rem;
                            }
                        }

                        &>div:last-child {
                            display: flex;
                            justify-content: center;

                            div {
                                justify-content: center;

                                .btn {
                                    button {
                                        background-color: var(--COLOR-pink-super-deep);
                                        color: white;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        width: 150px;

                                        &:hover {
                                            outline: none;
                                            border: none;
                                            opacity: 0.7;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}