.ListProduct {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>div {
        width: 100%;

        &>div {
            min-width: 230px;
            padding: 0 5px;
        }
    }

    .btn-more {
        width: 120px;
        height: 40px;
        background-color: var(--COLOR-pink-super-deep);
        margin-top: 10px;
        font-size: 1rem;
        font-weight: bold;
        color: white !important;

        &:hover {
            background-color: var(--COLOR-pink-hover);
            outline: none;
            border: none;
        }
    }
}