.VoucherWallet {
    .container-wrapper {
        .voucher-wallet-content {
            border: 1px solid #fbcdf6;
            border-radius: 10px;

            &>div {
                &:first-child {
                    padding: 15px;
                    border-bottom: 1px solid #fbcdf6;
                    text-align: left;
                    font-size: 1rem;

                    p:first-child {
                        font-weight: bold;
                        font-size: 1.2rem;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }
                }

                &:last-child {}
            }

            .option {
                display: flex;
                margin: 10px 20px;
                border-radius: 5px;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px 25px;

                    cursor: pointer;

                    &:last-child {
                        border-right: none;
                    }

                    &:hover {
                        opacity: 0.8;
                        color: var(--COLOR-pink-super-deep);
                    }
                }

                .selected {
                    border-bottom: 2px solid rgba(0, 0, 0, .09);
                    border-color: var(--COLOR-pink-super-deep);
                    color: var(--COLOR-pink-super-deep);
                    font-weight: bold;
                }
            }
        }
    }
}