.NotificationOrder {
    .container-wrapper {
        .notification-content {
            border: 1px solid #fbcdf6;
            border-radius: 10px;

            &>div {
                &:first-child {
                    margin: 20px;
                    margin-bottom: 0;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #fbcdf6;
                    text-align: left;
                    font-size: 1rem;

                    p:first-child {
                        font-weight: bold;
                        font-size: 1.2rem;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }
                }
            }

            .content-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 400px;

                img {
                    padding-bottom: 5px;
                    width: 110px;
                }
            }
        }
    }
}