.modal-add-cart {
    color: var(--COLOR-brown-super-deep);

    .modal-picture-wrapper {
        .modal-picture-main {
            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        }

        .modal-picture-sub {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            &>div {
                margin-right: 10px;
                margin-bottom: 20px;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            }

            &>div:last-child {
                margin-right: 0;
            }
        }
    }

    .modal-content {
        margin-left: 24px;

        .title {
            max-width: 300px;
            font-size: 1.6rem;
            font-weight: bold;
            color: var(--COLOR-brown-smooth);
        }

        .code {
            margin-top: 5px;
            font-size: 1rem;
            font-weight: bold;
            font-style: italic;
            color: #9c9c9c;
        }

        .price-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            .price {
                font-size: 1.4rem;
                color: var(--COLOR-pink-super-deep);
                font-weight: bold;
            }

            .favorite {
                cursor: pointer;

                .favorite-selected {
                    display: none;
                }

                &:hover {
                    .favorite-select {
                        display: none;
                    }

                    .favorite-selected {
                        display: block;
                    }
                }
            }
        }

        .inventory {
            margin-bottom: 20px;

            strong {
                color: var(--COLOR-pink-super-deep);
            }
        }

        .color-picked {
            p {
                font-size: 1.1rem;
                margin-right: 20px;
                margin-bottom: 10px;
            }

            .color-option {
                cursor: pointer;
                margin-right: 5px;
            }

            .selected {
                border: 1px solid rgba(0, 0, 0, 0.5);
                border-radius: 50%;
            }
        }

        .type-picked {
            margin-top: 5px;

            p {
                font-size: 1.1rem;
                margin-right: 20px;
            }

            .type-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin-top: 10px;

                .type {
                    border: 1px solid #9c9c9c;
                    border-radius: 5px;
                    font-size: 0.9rem;
                    padding: 5px 20px;
                    margin-right: 15px;
                    margin-bottom: 10px;
                    color: #717171;

                    &:hover {
                        cursor: pointer;
                        background-color: var(--COLOR-pink-hover);
                        color: #ffffff;
                    }
                }
            }
        }

        .quantity {
            p {
                margin-top: 5px;
                margin-bottom: 15px;
                font-size: 1.1rem;
            }

            .btn-cart,
            .btn-view {
                width: 100%;
                height: 50px;
                margin-top: 30px;
                background-color: var(--COLOR-pink-super-deep);
                color: white;
                font-weight: bold;
                font-size: 1.1rem;

                &:hover {
                    background-color: var(--COLOR-pink-hover);
                    outline: none;
                    border: none;
                }
            }

            .btn-view {
                margin-top: 10px;
                background-color: var(--COLOR-blue);

                &:hover {
                    background-color: var(--COLOR-blue-hover);
                }
            }
        }
    }
}