.modal-add-cart {
    color: var(--COLOR-brown-super-deep);

    .modal-picture-wrapper {
        .modal-picture-main {
            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        }

        .modal-picture-sub {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            &>div {
                margin-right: 10px;
                margin-bottom: 20px;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            }

            &>div:last-child {
                margin-right: 0;
            }
        }
    }

    .modal-content {
        margin-left: 24px;

        .title {
            max-width: 300px;
            font-size: 1.6rem;
            font-weight: bold;
            color: var(--COLOR-brown-smooth);
        }

        .code {
            margin-top: 5px;
            font-size: 1rem;
            font-weight: bold;
            font-style: italic;
            color: #9c9c9c;
        }

        .price-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            .price {
                font-size: 1.4rem;
                color: var(--COLOR-pink-super-deep);
                font-weight: bold;
            }

            .favorite {
                cursor: pointer;

                .favorite-selected {
                    display: none;
                }

                &:hover {
                    .favorite-select {
                        display: none;
                    }

                    .favorite-selected {
                        display: block;
                    }
                }
            }
        }

        .inventory {
            margin-bottom: 20px;

            strong {
                color: var(--COLOR-pink-super-deep);
            }
        }

        .type-picked {
            margin-top: 30px;

            p {
                font-size: 1.1rem;
            }

            .type-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 10px;

                .type {
                    position: relative;
                    border: 2px solid #9c9c9c;
                    border-radius: 5px;
                    padding: 10px 15px;
                    margin-right: 15px;
                    margin-top: 15px;
                    width: 150px;

                    &:hover {
                        cursor: pointer;
                        border-color: var(--COLOR-pink-super-deep);
                    }

                    &.picked {
                        cursor: default;
                        color: var(--COLOR-pink-super-deep);
                        border-color: var(--COLOR-pink-super-deep);
                        font-weight: bold;
                    }

                    .tick-wrapper {
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background: var(--COLOR-pink-super-deep);
                        border-top-left-radius: 100%;

                        .tick {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }
                    }
                }

            }
        }

        .quantity {
            margin-top: 20px;

            p {
                margin-top: 5px;
                margin-bottom: 15px;
                font-size: 1.1rem;
            }

            .btn-cart,
            .btn-view {
                width: 100%;
                height: 50px;
                margin-top: 30px;
                background-color: var(--COLOR-pink-super-deep);
                color: white;
                font-weight: bold;
                font-size: 1.1rem;

                &:hover {
                    background-color: var(--COLOR-pink-hover);
                    outline: none;
                    border: none;
                }
            }

            .btn-view {
                margin-top: 10px;
                background-color: var(--COLOR-blue);

                &:hover {
                    background-color: var(--COLOR-blue-hover);
                }
            }
        }
    }
}