.Product {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 340px;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;

    p:first-child {
        margin-top: 10px;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30%;
        font-weight: bold;
    }

    p:last-child {
        font-size: 0.9rem;
        font-weight: 450;
        color: var(--COLOR-brown-smooth);
    }

    &:hover {
        opacity: 0.7;
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}