.WelcomeProduct {
    margin-bottom: 40px;

    &>div:first-child {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        p {
            font-size: 36px;
        }

        p:last-child {
            margin-left: 10px;
            font-weight: bold;
            color: var(--COLOR-pink-super-deep);
        }
    }

    .hot-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .card-product {
            height: 380px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 10px;
            margin-top: 40px;
        }

        .card-product .ant-card-body {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }

        .image-container {
            height: 280px;
            /* Set your desired fixed height for the image container */
            overflow: hidden;
            /* Ensure any overflow is hidden */
        }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
                transition: all 300ms;
            }
        }
    }

    .btn-more {
        width: 120px;
        height: 40px;
        background-color: var(--COLOR-pink-super-deep);
        margin-top: 30px;
        font-size: 1rem;
        font-weight: bold;
        color: white !important;

        &:hover {
            background-color: var(--COLOR-pink-hover);
            outline: none;
            border: none;
        }
    }
}