.Trace {
    display: flex;
    height: 60px;
    font-size: 0.9rem;

    .trace-data {
        display: flex;
        align-items: center;

        p {
            text-transform: capitalize;
        }

        &:hover {
            color: var(--COLOR-pink-deep);
            cursor: pointer;
        }
    }

    .trace-data:last-child {
        &:hover {
            color: var(--COLOR-brown-deep);
            cursor: auto;
        }
    }
}