.Favorite {
    .container-wrapper {
        .favorite-content {
            border: 1px solid #fbcdf6;
            border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            &>div {
                &:first-child {
                    margin: 20px;
                    margin-bottom: 0;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #fbcdf6;
                    text-align: left;
                    font-size: 1rem;

                    p:first-child {
                        font-weight: bold;
                        font-size: 1.2rem;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }
                }

                &:last-child {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin: 30px 20px;

                    .pagination {
                        margin-top: 10px;
                        margin-bottom: 20px;

                        li {
                            a {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}