.SettingPrivacy {
    .container-wrapper {
        .setting-privacy-content {
            border: 1px solid #fbcdf6;
            border-radius: 10px;

            &>div {
                &:first-child {
                    padding: 15px;
                    border-bottom: 1px solid #fbcdf6;
                    text-align: left;
                    font-size: 1rem;

                    p:first-child {
                        font-weight: bold;
                        font-size: 1.2rem;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }
                }

                &:last-child {}
            }
        }
    }
}