.ProductDetail {
    display: flex;
    flex-direction: column;
    justify-content: left;

    .product-detail-main {
        margin-top: 5px;
        margin-bottom: 30px;

        &>div:first-child {
            justify-content: center;
        }

        .product-image {
            display: flex;
            justify-content: center;
            max-height: 700px;

            img {
                box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
            }
        }

        .product-image-sub {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 40px;
            max-width: 700px;

            &>div {
                margin-right: 10px;
                margin-bottom: 20px;

                img {
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                }
            }

            &>div:last-child {
                margin-right: 0;
            }
        }

        .product-detail-content {
            padding-top: 10px;
            padding-left: 50px;
            text-align: left;
            font-size: 1.1rem;

            .title-wrapper {
                display: flex;
                justify-content: space-between;

                .title {
                    font-size: 2rem;
                    font-weight: bold;
                }

                .favorite {
                    cursor: pointer;

                    .favorite-selected {
                        display: none;
                    }

                    &:hover {
                        .favorite-select {
                            display: none;
                        }

                        .favorite-selected {
                            display: block;
                        }
                    }
                }
            }

            .code {
                margin-top: 10px;
                font-size: 1.1rem;
                font-weight: bold;
                font-style: italic;
                color: #9c9c9c;
            }

            .re {
                display: flex;
                margin-top: 10px;

                .rating {
                    display: flex;
                    padding-right: 20px;
                    border-right: 1px solid var(--COLOR-pink-super-deep);

                    p {
                        margin-right: 10px;
                        border-bottom: 1px solid var(--COLOR-pink-super-deep);
                    }

                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }

                .evaluate {
                    padding-left: 20px;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }
            }

            .price {
                display: flex;
                align-items: center;
                margin-top: 30px;
                font-size: 1.7rem;
                color: var(--COLOR-pink-super-deep);
                font-weight: bold;
            }

            .inventory {
                margin-top: 5px;

                strong {
                    color: var(--COLOR-pink-super-deep);
                }
            }

            .shipping {
                display: flex;
                flex-direction: row;
                margin-top: 25px;

                .shipping-wrapper {
                    margin-left: 15px;

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    p {
                        margin-left: 10px;
                        font-size: 1rem;
                    }

                    .note {
                        font-size: 0.9rem;
                        color: gray;
                    }

                    img {
                        width: 32px;
                        height: 32px;
                    }

                    &>div>div {
                        display: flex;
                        flex-direction: row;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .type-picked {
                margin-top: 25px;

                p {
                    font-size: 1.1rem;
                }

                .type-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 10px;

                    .type {
                        position: relative;
                        border: 2px solid #9c9c9c;
                        border-radius: 5px;
                        padding: 15px 20px;
                        margin-top: 20px;
                        margin-right: 15px;

                        &:hover {
                            cursor: pointer;
                            border-color: var(--COLOR-pink-super-deep);
                        }

                        &.picked {
                            cursor: none;
                            color: var(--COLOR-pink-super-deep);
                            border-color: var(--COLOR-pink-super-deep);
                            font-weight: bold;
                        }

                        .tick-wrapper {
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            background: var(--COLOR-pink-super-deep);
                            border-top-left-radius: 100%;

                            .tick {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                            }
                        }
                    }

                }
            }

            .quantity {
                margin-top: 25px;

                p {
                    margin-bottom: 20px;
                    font-size: 1.1rem;
                }

                .btn-wrapper {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;

                    .btn-cart,
                    .btn-buy {
                        width: 48%;
                        min-width: 240px;
                        height: 50px;
                        background-color: var(--COLOR-pink-super-deep);
                        color: white;
                        font-weight: bold;
                        font-size: 1.2rem;

                        &:hover {
                            background-color: var(--COLOR-pink-hover);
                            outline: none;
                            border: none;
                        }
                    }
                }
            }

            .description {
                margin-top: 40px;

                .description-wrapper {
                    margin-left: 20px;

                    ul {
                        li {
                            text-align: justify;
                            margin: 5px 0;
                        }
                    }
                }
            }

            .commit {
                margin: 30px 0;
                color: red;

                p:first-child {
                    margin-bottom: 40px;
                    text-align: justify;
                }

                p:last-child {
                    display: flex;
                    align-items: center;
                    color: var(--COLOR-brown-deep);
                }

                strong {
                    color: var(--COLOR-brown-smooth);
                }
            }

            .share {
                width: 280px;

                p:first-child {
                    margin-bottom: 20px;
                    font-size: 1rem;
                    font-weight: bold;
                }

                .btn-share {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #ccc;
                    width: 100%;

                    .icon {
                        margin-right: 5px;
                    }
                }

            }
        }
    }

    .evaluate-detail {
        text-align: left;

        &>p:first-child {
            margin-bottom: 20px;
            font-size: 1.3rem;
            font-weight: bold;
        }

        &>div {
            display: flex;
            flex-direction: column;

            .filter {
                justify-content: space-between;

                &>div:first-child {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    &>p {
                        font-size: 1.5rem;
                        color: var(--COLOR-pink-super-deep);

                        &>b {
                            font-size: 2rem;
                            padding-right: 10px;
                        }
                    }
                }

                &>div:last-child {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    &>div {
                        border: 1px solid #9c9c9c;
                        border-radius: 5px;
                        padding: 8px 20px;
                        font-size: 1rem;
                        margin-left: 20px;
                        margin-top: 10px;
                        width: 120px;
                        text-align: center;

                        &:hover {
                            cursor: pointer;
                            border-color: var(--COLOR-pink-super-deep);
                        }

                        &.picked {
                            color: var(--COLOR-pink-super-deep);
                            border-color: var(--COLOR-pink-super-deep);
                            font-weight: bold;
                            cursor: default;
                        }
                    }
                }
            }

            .evaluate-wrapper {
                margin-top: 10px;
                margin-bottom: 40px;

                .evaluate-content {
                    margin-top: 20px;
                    font-size: 1rem;
                }
            }
        }
    }

    .product-detail-sub {
        text-align: left;

        &>p:first-child {
            margin-bottom: 50px;
            font-size: 1.3rem;
            font-weight: bold;
        }

        &>div {
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .pagination {
                margin-top: 30px;

                li {
                    a {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1224px) {
    .ProductDetail {
        .product-detail-main {
            .product-detail-content {
                padding-left: 0;
            }
        }
    }
}