.ProductDetail {
    .container-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: left;

        .product-detail-main {
            margin-top: 5px;
            margin-bottom: 50px;

            .product-image {
                height: 700px;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            }

            .product-image-sub {
                display: flex;
                align-items: center;
                height: 200px;
                margin-top: 20px;

                &>div {
                    margin-right: 10px;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                }

                &>div:last-child {
                    margin-right: 0;
                }
            }

            .product-detail-content {
                padding-top: 10px;
                padding-left: 50px;
                text-align: left;
                font-size: 1.1rem;

                .title {
                    font-size: 1.7rem;
                    font-weight: bold;
                    color: var(--COLOR-brown-smooth);
                }

                .price {
                    margin-top: 20px;
                    font-size: 1.4rem;
                    color: var(--COLOR-pink-super-deep);
                    font-weight: bold;
                }

                .inventory {
                    margin-top: 10px;

                    strong {
                        color: var(--COLOR-pink-super-deep);
                    }
                }

                .quantity {
                    margin-top: 30px;

                    p {
                        margin-bottom: 15px;
                    }

                    .btn-cart {
                        width: 320px;
                        height: 50px;
                        margin-top: 30px;
                        background-color: var(--COLOR-pink-super-deep);
                        color: white;
                        font-weight: bold;
                        font-size: 1.1rem;

                        &:hover {
                            background-color: var(--COLOR-pink-hover);
                            outline: none;
                            border: none;
                        }
                    }
                }

                .description {
                    margin-top: 20px;

                    .description-wrapper {
                        margin-left: 20px;

                        ul {
                            li {
                                margin: 5px 0;
                            }
                        }
                    }
                }

                .commit {
                    margin: 30px 0;
                    color: red;

                    p:first-child {
                        margin-bottom: 40px;
                    }

                    p:last-child {
                        display: flex;
                        align-items: center;
                        color: var(--COLOR-brown-deep);
                    }

                    strong {
                        color: var(--COLOR-brown-smooth);
                    }
                }

                .share {
                    width: 280px;

                    p:first-child {
                        margin-bottom: 20px;
                        font-size: 1rem;
                        font-weight: bold;
                    }

                    .btn-share {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #ccc;
                        width: 100%;

                        .icon {
                            margin-right: 5px;
                        }
                    }

                }
            }
        }

        .product-detail-sub {
            font-size: 1.2rem;
            text-align: left;

            &>p:first-child {
                margin-bottom: 20px;
                font-weight: bold;
            }

            &>div {
                margin-bottom: 50px;

            }
        }
    }
}