* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  line-height: 1.4;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;

  .container {
    padding: 0 10%;
    width: 100%;
    max-width: 2200px;
  }

  p {
    padding: 0;
    margin: 0;
  }

  --COLOR-pink: #ffb0bd;
  --COLOR-pink-deep: #FFB0BD;
  --COLOR-pink-super-deep: #FB6565;
  --COLOR-pink-hover: #FD8FA1;
  --COLOR-brown: #8A4762;
  --COLOR-brown-smooth: #C75D26;
  --COLOR-brown-deep: #9C491E;
  --COLOR-brown-hover: #E56266;
  --COLOR-blue-hover: #0048ff;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}