.ListVoucher {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &>div {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &>div {
            padding: 5px 20px;
            margin-top: 10px;
        }
    }
}