.UserFooter {
    display: flex;
    justify-content: center;

    .container {
        .footer-left {
            text-align: left;

            .hot-line {
                display: flex;
                flex-direction: row;
                align-items: center;

                div:last-child {
                    text-align: left;
                    font-size: 1.3rem;

                    a {
                        color: rgb(67, 43, 43);

                        &:hover {
                            color: rgb(0, 72, 255);
                        }
                    }
                }
            }

            .email {
                display: flex;
                flex-direction: row;
                align-items: end;

                div:last-child {
                    text-align: left;
                    font-size: 1.3rem;

                    a {
                        font-size: 1.1rem;
                        color: rgb(67, 43, 43);

                        &:hover {
                            color: rgb(0, 72, 255);
                        }
                    }
                }
            }
        }

        .footer-middle {
            text-align: left;
            font-size: 1.2rem;

            ul {
                font-size: 1rem;
                padding-left: 20px;
            }
        }

        .footer-right {
            .contact {
                cursor: pointer;

                svg {
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }

            .logo {
                background: url('../../../assets/images/logo1.jpg') center center/cover;
                width: 100%;
                height: 50%;
                border-radius: 50%;
            }
        }
    }
}