.UserFooter {
    display: flex;
    justify-content: center;

    .container {
        .footer-left {
            text-align: left;

            .hot-line {
                display: flex;
                flex-direction: row;
                align-items: center;

                div:last-child {
                    text-align: left;
                    font-size: 1.3rem;

                    a {
                        color: var(--COLOR-brown-deep);

                        &:hover {
                            color: rgb(0, 72, 255);
                        }
                    }
                }
            }

            .email {
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                div:last-child {
                    text-align: left;
                    font-size: 1.3rem;

                    a {
                        font-size: 1.1rem;
                        color: var(--COLOR-brown-deep);

                        &:hover {
                            color: rgb(0, 72, 255);
                        }
                    }
                }
            }
        }

        .footer-middle {
            text-align: left;
            font-size: 1.2rem;

            .logo {
                background: url('../../../assets/images/logo1.jpg') center center/cover;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            }
        }

        .footer-right {
            display: flex;
            justify-content: right;

            .footer-right-wrapper {
                .signature {
                    height: 50%;
                }

                .contact {
                    cursor: pointer;

                    svg {
                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}