.UserFooter {
    display: flex;
    justify-content: center;
    height: 200px;

    .container-wrapper {
        .footer-left {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: left;

        }

        .footer-middle {
            img {
                width: 100%;
                max-height: 200px;
                object-fit: contain;
            }
        }

        .footer-right {
            display: flex;
            justify-content: right;
            font-size: 1rem;
            text-align: right;

            .footer-right-wrapper {
                width: 100%;

                .signature {
                    margin-left: 80px;
                }

                .note {
                    font-style: italic;
                }
            }
        }
    }
}