.Blog {
    .list-select {
        padding-right: 50px;
        text-align: left;

        &>div {
            &>div:first-child {
                margin: 0;
                padding: 0 15px;
                color: var(--COLOR-brown-deep);
                border-bottom: 1px solid var(--COLOR-brown-deep);
            }

            &>div:last-child {
                padding: 0;

                &>ul {
                    border-inline-end: none;

                    li {
                        margin: 5px 0;
                        background-color: #ffffff;
                        border-radius: 0;
                        width: 100%;
                    }
                }

                p {
                    font-size: 1rem;
                    margin: 5px 15px;
                }

                &>div {
                    margin: 30px 15px;
                    margin-top: 20px;
                }
            }
        }

        .hide {
            display: none;
        }
    }

    .content-wrapper {
        text-align: left;
        margin-left: 20px;
        color: var(--COLOR-black);

        .title {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .author-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 1rem;

            &>div {
                display: flex;

                b {
                    color: var(--COLOR-pink-super-deep);
                }
            }

            &>div:last-child {
                display: flex;
                align-items: center;
                color: var(--COLOR-gray-deep);

                p {
                    padding-left: 5px;
                }
            }
        }

        .date {
            font-size: 0.9rem;
            margin: 5px 0;
            margin-bottom: 10px;

            p {
                margin-top: 5px;
                color: var(--COLOR-gray-deep);
                font-weight: bold;
            }
        }

        .image {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            margin-bottom: 2rem;

            img {
                width: 100%;
            }
        }

        .content {
            .section {
                .title {
                    font-size: 34px;
                    margin-top: 2rem;
                    margin-bottom: 1.5rem;
                }

                .sub-section {
                    .sub-title {
                        margin-top: 2rem;
                        margin-bottom: 1.5rem;
                        font-size: 26px;
                        font-weight: bold;
                    }
                }
            }

            .normal-content {
                font-size: 1rem;

                p {
                    margin-bottom: 1rem;
                    line-height: 38px;
                    text-align: justify;
                }

                ul {
                    list-style-type: disc;
                    padding-left: 3rem;

                    li {
                        margin: 10px 0;

                        &::marker {
                            color: var(--COLOR-pink-deep);
                        }

                        p {
                            display: inline;
                        }
                    }
                }
            }

            b {
                font-weight: bold;
                font-size: 1.2rem;
            }

            .sub-image {
                display: flex;
                justify-content: center;

                img {
                    max-width: 100%;
                    height: 100%;
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                }
            }

            .keywords-wrapper {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin-top: 3rem;
                margin-bottom: 3rem;
                padding: 1.5rem;
                border-radius: 1rem;

                --tw-bg-opacity: 1;
                background-color: rgb(245 245 245/var(--tw-bg-opacity));

                .title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 1.25rem;
                }

                &>div {
                    display: flex;
                    flex-direction: row;

                    p {
                        font-size: 1rem;
                        background-color: #ffffff;
                        padding: 0.5rem 1rem;
                        margin-right: 0.75rem;
                        border-radius: .5rem;
                        color: var(--COLOR-black);
                    }
                }
            }

            .relative-blog {
                .title {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }

                ul {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    padding-left: 1rem;

                    li {
                        padding: .75rem 0;

                        a {
                            font-size: 1rem;
                            color: #FF4D00;
                        }

                        &::marker {
                            color: #FF4D00;
                        }
                    }
                }
            }
        }
    }
}